<artcile class="post">
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor sit amet.
        </h2>
    </header>
    <div class="post__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto minima atque harum saepe corrupti debitis
        corporis a dignissimos? Deserunt neque repudiandae enim amet veniam, illum non voluptas adipisci soluta odio id
        blanditiis libero saepe error voluptates a. Dolorem maiores vitae voluptatibus facere hic a. Architecto
        praesentium facilis alias obcaecati ipsam?
    </div>
</artcile>